nextflowVersion = '>=20.0'

profiles {
  annotations { includeConfig 'conf/annotations.config' }
  mappings { includeConfig 'conf/mappings.config' }
  standard { includeConfig 'conf/mappings.config' }
  simulations { includeConfig 'conf/simulations.config' }
  gcp { includeConfig 'conf/gcp.config' }
  mappings_docker { includeConfig 'conf/mappings_docker.config' }
}
